<section class="clubs" id="cases">
  <div class="container">
    <div class="figures__header">
      <h2 class="title2 clubs__title">Компьютерные клубы с нашим оборудованием</h2>
      <a href="#" class="figures__link clubs__link">Посмотреть все кейсы</a>
    </div>
    <div class="clubs__wrapper">
      <div class="clubs__slider swiper">
        <div class="clubs__items swiper-wrapper">
          <div class="clubs-item clubs__item swiper-slide">
            <div class="clubs-item__image">
              <picture>
                <source srcset="./img/clubs/01.webp" type="image/webp">
                <img src="./img/clubs/01.jpg" alt="">
              </picture>
            </div>
            <div class="clubs-item__body">
              <span class="clubs-item__title">Colizeum</span>
              <p class="clubs-item__desc">
                ТРЦ Гагаринский, ул. Вавилова, 3
                (м. Ленинский проспект)
              </p>
              <ul class="clubs-item__list">
                <li class="clubs-item__item">информация о клубе</li>
                <li class="clubs-item__item">в каком году открыт</li>
                <li class="clubs-item__item">сколько компьютеров в клубе</li>
              </ul>
              <a href="#" class="clubs-item__btn glow-on-hover">Смотреть кейс</a>
            </div>
          </div>
          <div class="clubs-item clubs__item swiper-slide">
            <div class="clubs-item__image">
              <picture>
                <source srcset="./img/clubs/02.webp" type="image/webp">
                <img src="./img/clubs/02.jpg" alt="">
              </picture>
            </div>
            <div class="clubs-item__body">
              <span class="clubs-item__title">Colizeum</span>
              <p class="clubs-item__desc">
                ТРЦ Гагаринский, ул. Вавилова, 3
                (м. Ленинский проспект)
              </p>
              <ul class="clubs-item__list">
                <li class="clubs-item__item">информация о клубе</li>
                <li class="clubs-item__item">в каком году открыт</li>
                <li class="clubs-item__item">сколько компьютеров в клубе</li>
              </ul>
              <a href="#" class="clubs-item__btn glow-on-hover">Смотреть кейс</a>
            </div>
          </div>
          <div class="clubs-item clubs__item swiper-slide">
            <div class="clubs-item__image">
              <picture>
                <source srcset="./img/clubs/03.webp" type="image/webp">
                <img src="./img/clubs/03.jpg" alt="">
              </picture>
            </div>
            <div class="clubs-item__body">
              <span class="clubs-item__title">Colizeum</span>
              <p class="clubs-item__desc">
                ТРЦ Гагаринский, ул. Вавилова, 3
                (м. Ленинский проспект)
              </p>
              <ul class="clubs-item__list">
                <li class="clubs-item__item">информация о клубе</li>
                <li class="clubs-item__item">в каком году открыт</li>
                <li class="clubs-item__item">сколько компьютеров в клубе</li>
              </ul>
              <a href="#" class="clubs-item__btn glow-on-hover">Смотреть кейс</a>
            </div>
          </div>
          <div class="clubs-item clubs__item swiper-slide">
            <div class="clubs-item__image">
              <picture>
                <source srcset="./img/clubs/04.webp" type="image/webp">
                <img src="./img/clubs/04.jpg" alt="">
              </picture>
            </div>
            <div class="clubs-item__body">
              <span class="clubs-item__title">Colizeum</span>
              <p class="clubs-item__desc">
                ТРЦ Гагаринский, ул. Вавилова, 3
                (м. Ленинский проспект)
              </p>
              <ul class="clubs-item__list">
                <li class="clubs-item__item">информация о клубе</li>
                <li class="clubs-item__item">в каком году открыт</li>
                <li class="clubs-item__item">сколько компьютеров в клубе</li>
              </ul>
              <a href="#" class="clubs-item__btn glow-on-hover">Смотреть кейс</a>
            </div>
          </div>
          <div class="clubs-item clubs__item swiper-slide">
            <div class="clubs-item__image">
              <picture>
                <source srcset="./img/clubs/05.webp" type="image/webp">
                <img src="./img/clubs/05.jpg" alt="">
              </picture>
            </div>
            <div class="clubs-item__body">
              <span class="clubs-item__title">Colizeum</span>
              <p class="clubs-item__desc">
                ТРЦ Гагаринский, ул. Вавилова, 3
                (м. Ленинский проспект)
              </p>
              <ul class="clubs-item__list">
                <li class="clubs-item__item">информация о клубе</li>
                <li class="clubs-item__item">в каком году открыт</li>
                <li class="clubs-item__item">сколько компьютеров в клубе</li>
              </ul>
              <a href="#" class="clubs-item__btn glow-on-hover">Смотреть кейс</a>
            </div>
          </div>
          <div class="clubs-item clubs__item swiper-slide">
            <div class="clubs-item__image">
              <picture>
                <source srcset="./img/clubs/06.webp" type="image/webp">
                <img src="./img/clubs/06.jpg" alt="">
              </picture>
            </div>
            <div class="clubs-item__body">
              <span class="clubs-item__title">Colizeum</span>
              <p class="clubs-item__desc">
                ТРЦ Гагаринский, ул. Вавилова, 3
                (м. Ленинский проспект)
              </p>
              <ul class="clubs-item__list">
                <li class="clubs-item__item">информация о клубе</li>
                <li class="clubs-item__item">в каком году открыт</li>
                <li class="clubs-item__item">сколько компьютеров в клубе</li>
              </ul>
              <a href="#" class="clubs-item__btn glow-on-hover">Смотреть кейс</a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="clubs__pagination"></div>
  </div>
</section>
