<section class="econom">
  <div class="container">
    <h2 class="title2 econom__title title2--white">
      Сколько денег мы помогаем<br>
      сэкономить нашим клиентам
    </h2>

    <div class="econom__items">
      <div class="econom__item">
        <span class="econom__capture">экономим<br>268 720 рублей</span>
        <p class="econom__desc">
          владельцам компьютерных
          клубов на покупке
          компьютеров. Это сумма
          выгоды по сравнению с ДНС
          или Ситилинк при покупке
          30 компьютеров
        </p>

        <div class="econom__circle">
          <svg   baseProfile="full">
            <linearGradient id="linear-gradient">
              <stop offset="0%" stop-color="#8545e7"/>
              <stop offset="50%" stop-color="#4b58e6"/>
              <stop offset="100%" stop-color="#61b0f1"/>
              </linearGradient>
              <circle cx="50%" cy="50%" r="43%" stroke="#4c308c" stroke-width="3.5rem" fill="none"></circle>
              <circle cx="50%" cy="50%" r="43%" class="econom__progress" stroke-linecap="round" data-to="1000000" data-from="268720" stroke="url(#linear-gradient)" stroke-width="3.5rem" fill="none"></circle>
          </svg>
        </div>
      </div>
      <div class="econom__item">
        <span class="econom__capture">50 000 рублей<br> ежемесячно</span>
        <p class="econom__desc">
          на системном
          администраторе.
          При IT-аутсорсинге сервера
          и компьютеров
        </p>

        <div class="econom__circle">
          <svg  baseProfile="full">
            <linearGradient id="linear-gradient">
              <stop offset="0%" stop-color="#8545e7"/>
              <stop offset="50%" stop-color="#4b58e6"/>
              <stop offset="100%" stop-color="#61b0f1"/>
              </linearGradient>
              <circle cx="50%" cy="50%" r="43%" stroke="#4c308c" stroke-width="3.5rem" fill="none"></circle>
              <circle cx="50%" cy="50%" r="43%" class="econom__progress" stroke-linecap="round" data-to="80000" data-from="50000" stroke="url(#linear-gradient)" stroke-width="3.5rem" fill="none"></circle>
          </svg>
        </div>
      </div>
      <div class="econom__item">
        <span class="econom__capture">до 100 000 выручки<br>ежемесячно</span>
        <p class="econom__desc">
          При отработанной схеме
          мониторинга железа и софта,
          и решения проблем в режиме
          онлайн, либо с привлечением нами
          авторизованных специалистов
          в вашем городе
        </p>

        <div class="econom__circle">
          <svg   baseProfile="full">
            <linearGradient id="linear-gradient">
              <stop offset="0%" stop-color="#8545e7"/>
              <stop offset="50%" stop-color="#4b58e6"/>
              <stop offset="100%" stop-color="#61b0f1"/>
              </linearGradient>
              <circle cx="50%" cy="50%" r="43%" stroke="#4c308c" stroke-width="3.5rem" fill="none"></circle>
              <circle cx="50%" cy="50%" r="43%" class="econom__progress" stroke-linecap="round" data-to="100000" data-from="100000" stroke="url(#linear-gradient)" stroke-width="3.5rem" fill="none"></circle>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
