<section class="equip" id="products">
  <div class="container">
    <h2 class="equip__title title2 title2--white">Примеры оборудования для разных бюджетов и концепций кибер-клубов</h2>
    <div class="equip__slider swiper">
      <div class="equip__items swiper-wrapper">
        <div class="equip__item swiper-slide">
          <div class="equip__image">
            <picture>
              <source srcset="./img/equip/01.webp" type="image/webp">
              <img src="./img/equip/01.png" alt="">
            </picture>
          </div>
          <div class="equip__body">
            <span class="equip__capture">Клуб на 15 ПК и 1 PS5</span>
            <span class="equip__comp equip__text">Состав игрового места:</span>
            <span class="equip__text">Системный блок:</span>
            <ul class="equip__list">
              <li>Процессор Intel Core i5-12400F</li>
              <li>Видеокарта</li>
              <li>Оперативная память;</li>
            </ul>
            <span class="equip__comp equip__text">Монитор 24” 165гц;</span>
            <span class="equip__text">Периферия:</span>
            <ul class="equip__list">
              <li>Клавиатура</li>
              <li>Мышь</li>
              <li>Гарнитура</li>
              <li>Коврик;</li>
            </ul>
            <span class="equip__comp equip__text">Геймерский стол;</span>
            <span class="equip__comp equip__text">Игровое кресло</span>

            <div class="equip__price">
              Бюджет всех игровых мест:
              <span>2 000 000 руб</span>
            </div>
            <div class="equip__price">
              Бюджет всего клуба:
              <span>3 000 000 руб</span>
            </div>
            <button class="btn-reset modal-btn equip__btn glow-on-hover" data-text="Привет! Хочу просчитать компьютеры и оборудование для клуба.">
              <span>Просчитать похожий состав оборудования</span>
            </button>
          </div>
        </div>
        <div class="equip__item swiper-slide">
          <div class="equip__image">
            <picture>
              <source srcset="./img/equip/02.webp" type="image/webp">
              <img src="./img/equip/02.png" alt="">
            </picture>
          </div>
          <div class="equip__body">
            <span class="equip__capture">Клуб на 15 ПК и 1 PS5</span>
            <span class="equip__comp equip__text">Состав игрового места:</span>
            <span class="equip__text">Системный блок:</span>
            <ul class="equip__list">
              <li>Процессор Intel Core i5-12400F</li>
              <li>Видеокарта</li>
              <li>Оперативная память;</li>
            </ul>
            <span class="equip__comp equip__text">Монитор 24” 165гц;</span>
            <span class="equip__text">Периферия:</span>
            <ul class="equip__list">
              <li>Клавиатура</li>
              <li>Мышь</li>
              <li>Гарнитура</li>
              <li>Коврик;</li>
            </ul>
            <span class="equip__comp equip__text">Геймерский стол;</span>
            <span class="equip__comp equip__text">Игровое кресло</span>

            <div class="equip__price">
              Бюджет всех игровых мест:
              <span>2 000 000 руб</span>
            </div>
            <div class="equip__price">
              Бюджет всего клуба:
              <span>3 000 000 руб</span>
            </div>
            <button class="btn-reset modal-btn equip__btn glow-on-hover" data-text="Привет! Хочу просчитать компьютеры и оборудование для клуба.">
              <span>Просчитать похожий состав оборудования</span>
            </button>
          </div>
        </div>
        <div class="equip__item swiper-slide">
          <div class="equip__image">
            <picture>
              <source srcset="./img/equip/03.webp" type="image/webp">
              <img src="./img/equip/03.png" alt="">
            </picture>
          </div>
          <div class="equip__body">
            <span class="equip__capture">Клуб на 15 ПК и 1 PS5</span>
            <span class="equip__comp equip__text">Состав игрового места:</span>
            <span class="equip__text">Системный блок:</span>
            <ul class="equip__list">
              <li>Процессор Intel Core i5-12400F</li>
              <li>Видеокарта</li>
              <li>Оперативная память;</li>
            </ul>
            <span class="equip__comp equip__text">Монитор 24” 165гц;</span>
            <span class="equip__text">Периферия:</span>
            <ul class="equip__list">
              <li>Клавиатура</li>
              <li>Мышь</li>
              <li>Гарнитура</li>
              <li>Коврик;</li>
            </ul>
            <span class="equip__comp equip__text">Геймерский стол;</span>
            <span class="equip__comp equip__text">Игровое кресло</span>

            <div class="equip__price">
              Бюджет всех игровых мест:
              <span>2 000 000 руб</span>
            </div>
            <div class="equip__price">
              Бюджет всего клуба:
              <span>3 000 000 руб</span>
            </div>
            <button class="btn-reset modal-btn equip__btn glow-on-hover" data-text="Привет! Хочу просчитать компьютеры и оборудование для клуба.">
              <span>Просчитать похожий состав оборудования</span>
            </button>
          </div>
        </div>
        <div class="equip__item swiper-slide">
          <div class="equip__image">
            <picture>
              <source srcset="./img/equip/01.webp" type="image/webp">
              <img src="./img/equip/01.png" alt="">
            </picture>
          </div>
          <div class="equip__body">
            <span class="equip__capture">Клуб на 15 ПК и 1 PS5</span>
            <span class="equip__comp equip__text">Состав игрового места:</span>
            <span class="equip__text">Системный блок:</span>
            <ul class="equip__list">
              <li>Процессор Intel Core i5-12400F</li>
              <li>Видеокарта</li>
              <li>Оперативная память;</li>
            </ul>
            <span class="equip__comp equip__text">Монитор 24” 165гц;</span>
            <span class="equip__text">Периферия:</span>
            <ul class="equip__list">
              <li>Клавиатура</li>
              <li>Мышь</li>
              <li>Гарнитура</li>
              <li>Коврик;</li>
            </ul>
            <span class="equip__comp equip__text">Геймерский стол;</span>
            <span class="equip__comp equip__text">Игровое кресло</span>

            <div class="equip__price">
              Бюджет всех игровых мест:
              <span>2 000 000 руб</span>
            </div>
            <div class="equip__price">
              Бюджет всего клуба:
              <span>3 000 000 руб</span>
            </div>
            <button class="btn-reset modal-btn equip__btn glow-on-hover" data-text="Привет! Хочу просчитать компьютеры и оборудование для клуба.">
              <span>Просчитать похожий состав оборудования</span>
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="equip__pagination"></div>
  </div>
</section>
