<header class="header">
  <div class="header__top">
    <div class="container header__container">
      <div class="header__left">
        <div class="header__logo">
          <a href="./">
            <img src="./img/logo.png" alt="">
          </a>
        </div>
        <p class="header__desc">
          Помогаем открыть компьютерный
          клуб без франшиз, быстро, выгодно,
          сразу в плюс
        </p>

        <div class="header__burger">
          <div class="line"></div>
        </div>
      </div>
      <a href="#!" class="header__tg">
        <img src="./img/tg.png" alt="">
        <span>Написать в телеграм</span>
      </a>
      <a href="#!" class="header__cta modal-btn">
        Записаться на консультацию со мной
      </a>
    </div>

    @include('menu.html')
  </div>

  <nav class="header__nav nav">
    <ul class="list-reset nav__list">
      <li class="nav__item">
        <a href="#" class="nav__link">Продукты</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Кейсы</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">О компании</a>
      </li>
      <li class="nav__item">
        <a href="#" class="nav__link">Контакты</a>
      </li>
    </ul>
  </nav>
</header>
