<section class="hero">
  <div class="container">
    <div class="hero__content">
      <h1 class="hero__title">
        Оборудование для кибер-клубов с настройкой и сопровождением
      </h1>
      <p class="hero__desc">
        Запишитесь на бесплатную онлайн-экскурсию со мной по этапам
        открытия компьютерного клуба.
      </p>
      <ul class="list-reset hero__list">
        <li class="hero__item">Как понять, какое железо выбрать</li>
        <li class="hero__item">Как подключить, настроить, установить систему управления клубом</li>
        <li class="hero__item">Как обслуживать, ремонтировать, чистить от пыли и вирусов</li>
        <li class="hero__item">Почему компьютерные клубы – привлекательный рынок</li>
        <li class="hero__item">Как понять, что в моем городе «зайдет» кибер-клуб</li>
        <li class="hero__item">Как определить концепцию для клуба, чтобы быстрее окупить вложения</li>
      </ul>
      <a href="#" class="hero__btn glow-on-hover">Записаться на онлайн-экскурсию</a>
    </div>
  </div>

  <div class="hero__man">
    <div class="hero__img">
      <img src="./img/hero.webp" alt="">
    </div>
    <div class="hero__bottom">
      <div class="hero__info">
        <span class="hero__name">Константин Прохоров</span>
        <span class="hero__capture">со-основатель компании i-Gamez</span>
      </div>

    </div>
  </div>
</section>
