<div class="modal">
  <div class="modal__body">
    <div class="modal__left">
      <span class="modal__title">Закажите отдел продаж</span>
      <p class="modal__desc">
        Постройте систему в отделе продаж и увеличите оборот компании в два раза
      </p>
      <form action="#" class="modal-form modal__form">
        <textarea class="modal-form__area">Привет! Хочу просчитать компьютеры и оборудование для клуба.</textarea>
        <input type="tel" class="input-tel modal-form__input" placeholder="+7 (999) 999-99-99">
        <button class="btn btn-reset modal-form__btn hero__btn">просчитать компьютеры и оборудование</button>
      </form>
    </div>
    <div class="modal__image">
      <img src="https://via.assets.so/img.jpg?w=600&h=450" alt="">
    </div>
    <div class="modal__close">
      <svg fill="#000000" version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
        viewBox="0 0 490 490" xml:space="preserve">
       <polygon points="456.851,0 245,212.564 33.149,0 0.708,32.337 212.669,245.004 0.708,457.678 33.149,490 245,277.443 456.851,490
        489.292,457.678 277.331,245.004 489.292,32.337 "/>
      </svg>
    </div>
  </div>
</div>
