<section class="partners">
  <div class="container">
    <div class="partners__header">
      <h2 class="title2 partners__title">С нами сотрудничают лидеры индустрии</h2>
    </div>

    <div class="partners__items">
      <div class="partners__item partners-item partners-item--big">
        <div class="partners-item__image">
          <picture>
            <source srcset="./img/partners/01.webp" type="image/webp">
            <img src="./img/partners/01.jpg">
          </picture>
        </div>
        <div class="partners-item__body">
          <div class="partners-item__header">
            <div class="partners-item__logo">
              <img src="./img/partners/logo.png">
            </div>

            <time datetime="06.05.2024">5 июня 2023</time>
          </div>

          <div class="partners-item__content">
            <p class="partners-item__desc">
              Место, где люди собираются для игр, обмена
              опытом и общения в виртуальном
              пространстве
            </p>
            <a href="#" class="partners-item__link">
              <span>
                Подробнее
              </span>
              <img src="./img/partners/arrow.png" alt="&RightArrow;">
            </a>
          </div>
        </div>
      </div>
      <div class="partners__item partners-item partners-item">
        <div class="partners-item__image">
          <picture>
            <source srcset="./img/partners/01.webp" type="image/webp">
            <img src="./img/partners/01.jpg">
          </picture>
        </div>
        <div class="partners-item__body">
          <div class="partners-item__header">
            <div class="partners-item__logo">
              <img src="./img/partners/logo.png">
            </div>

            <time datetime="06.05.2024">5 июня 2023</time>
          </div>

          <div class="partners-item__content">
            <p class="partners-item__desc">
              Место, где люди собираются для игр, обмена
              опытом и общения в виртуальном
              пространстве
            </p>
            <a href="#" class="partners-item__link">
              <span>
                Подробнее
              </span>
              <img src="./img/partners/arrow.png" alt="&RightArrow;">
            </a>
          </div>
        </div>
      </div>
      <div class="partners__item partners-item partners-item">
        <div class="partners-item__image">
          <picture>
            <source srcset="./img/partners/01.webp" type="image/webp">
            <img src="./img/partners/01.jpg">
          </picture>
        </div>
        <div class="partners-item__body">
          <div class="partners-item__header">
            <div class="partners-item__logo">
              <img src="./img/partners/logo.png">
            </div>

            <time datetime="06.05.2024">5 июня 2023</time>
          </div>

          <div class="partners-item__content">
            <p class="partners-item__desc">
              Место, где люди собираются для игр, обмена
              опытом и общения в виртуальном
              пространстве
            </p>
            <a href="#" class="partners-item__link">
              <span>
                Подробнее
              </span>
              <img src="./img/partners/arrow.png" alt="&RightArrow;">
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
