<section class="socials" id="contacts">
  <div class="container">
    <h2 class="title2 title2--white socials__title">
      Подписывайся на нас
      в Telegram и Youtube
    </h2>


    <div class="socials__container">
      <div class="socials__block">
        <div class="youtube__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./img/videos/01.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src="./img/videos/01.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src="./img/videos/01.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src="./img/videos/01.png" alt="">
            </div>
          </div>
        </div>
        <div class="youtube__bottom">
          <div class="youtube__pagination"></div>
          <a href="#" class="youtube__link">
            <img src="./img/youtube.png" alt="">
            Перейти в Youtube-канал
          </a>
        </div>
        <div class="socials__btn socials__btn--prev y-prev">
          <img src="./img/videos/arr.png" alt="">
        </div>
        <div class="socials__btn socials__btn--next y-next">
          <img src="./img/videos/arr.png" alt="">
        </div>
      </div>
      <div class="socials__block">
        <div class="telegram__slider swiper">
          <div class="swiper-wrapper">
            <div class="swiper-slide">
              <img src="./img/videos/02.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src="./img/videos/02.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src="./img/videos/02.png" alt="">
            </div>
            <div class="swiper-slide">
              <img src="./img/videos/02.png" alt="">
            </div>
          </div>
        </div>
        <div class="telegram__bottom">
          <div class="telegram__pagination"></div>

          <a href="#" class="telegram__link">
            <img src="./img/tg.png" alt="">&nbsp;Перейти&nbsp;в&nbsp;телеграм&nbsp;-&nbsp;канал
          </a>
        </div>
        <div class="socials__btn socials__btn--prev tg-prev">
          <img src="./img/videos/arr.png" alt="">
        </div>
        <div class="socials__btn socials__btn--next tg-next">
          <img src="./img/videos/arr.png" alt="">
        </div>
      </div>
    </div>
  </div>
</section>
